{% extends "index.html" %}

{% block title -%}
    {{ tag|striptags|breaking_spaces }} &mdash; {{ super() }}
{%- endblock %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <ol class="breadcrumb">
        <li><a href="{{ SITE_ROOT_URL }}" title="{{ SITENAME }}"><span class="fas fa-home fa-lg"></span></a></li>
      {% if MENUITEMS_2_AT %}
        <li><a href="{{ SITEURL }}/{{ MENUITEMS_2_AT_LINK }}" title="{{ MENUITEMS_2_AT }}">{{ MENUITEMS_2_AT }}</a></li>
      {% endif %}
        <li><a href="{{ SITEURL }}/{{ TAGS_URL }}" title="Tags">Tags</a></li>
        <li class="active">{{ tag }}</li>
    </ol>
    {% endif %}
{% endblock %}

{% block prjct %}
    {% include 'includes/prjct.html' %}
{% endblock %}
