// SeaFoam theme -- base Bootstrap colors

@import "variables";

@import "bootstrap/bootstrap";

@import "fontawesome/scss/fontawesome";
@import "fontawesome/scss/solid";
@import "fontawesome/scss/regular";
@import "fontawesome/scss/brands";

@import "glyphicons/scss/glyphicons";


// Simple Blocks, extended elsewhere
// ---------------------------------

$line-height-computed:    floor(($font-size-base * $line-height-base));

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}


// Bootstrap Overrides
// -------------------

body {
    padding-top: 20px;
}

.badge-primary {
    a {
        color: $body-color-inverse;
    }
}


// Sidebar Vertical Navigation
// -------------------------
// modified from  http://www.jonathanbriehl.com/2014/01/17/vertical-menu-for-bootstrap-3/

/*
@include media-breakpoint-up(sm) {
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .sidebar-nav {
        font-size: $font-size-lg;
        font-family: $font-family-sans-serif;
    }
    .navbar-brand {
        height: auto;
        //min-height: 100%;
    }
}
  
@include media-breakpoint-down(xs) {
    body {
        padding-top: 0;
    }

    .sidebar-nav {
        margin: -20px -15px 0 -15px;
        font-family: $font-family-sans-serif;
    }
}
*/ 
  
 // More Sidebar Nav
 // -------------------------
  
.nav-list-level2 {
    font-size: $font-size-base;
    padding-left: 40px;
}

/* No top navigation */
body {
    padding-top: 20px   !important;
}

/* have links only below the header image */
.navbar-nonheader {
    clear: left;
}

/* make sidebar nav vertical */
/* modifications for our logo */
  
@media (max-width: 767px) {
    .navbar-header {
        margin-bottom: 45px;
    /*  This is too much if the screen is narrower than about 250px */
    }
}
  
  
 // Images with Captions
 // -------------------------
 
  
.max-col-md-9 {
    max-width: ((map-get($grid-breakpoints, md) - ($grid-gutter-width * 2)) * 9 / 12);
}
  
  
// Blog Archives page
.archives-date {
    text-align: right;
}
  
// Blog Featured Images
.featured-image {
    @extend .center-block;
    @extend .img-fluid;
    border-radius: $border-radius;
}
  
// Blog -- Project 365 EXIF data
.photo-infobox {
    @extend blockquote;
    padding-left: $h2-font-size + $line-height-computed;
    em {
        font-style: normal;
        color: $primary;
    }
    p:last-child {
        margin-bottom: 0;
    }
}
.photo-infobox::before {
    // displays 'exif', rotated, along the left edge of the box
    color: $blockquote-small-color;
    content: 'exif';
    display: block;
    font-size: $h2-font-size;
    font-style: italic;
    line-height: 1;
    position: absolute;
    transform: translate($h2-font-size + $line-height-computed, 150px) rotate(-90deg);
    transform-origin: -2*$h2-font-size top 0;
}

// Pager spacing
//
// On narrow screens, the two pages end up touching. This puts vertical space
// between them.

// TO-DO: Fix this further
.pager {
    a {
        margin-top: 12.5px;
        margin-bottom: 12.5px;
    }
    margin-top: 0;
    margin-bottom: 0;
}
  
  
// Tipue Search
// ------------------------

.tipue_search_content_title {
    @extend .h3;
}

.tipue_search_content_url {
    display: none;
}

// selection highlight
.h01 {
    background: $sol-yellow;
}

#tipue_search_foot {
    @extend .text-center;
}
  
// below is copied from 'pagination.less'
// .pagination {
#tipue_search_foot_boxes {
    display: inline-block;
    padding-left: 0;
    margin: $line-height-computed 0;
    border-radius: $border-radius;
    cursor: pointer;

    > li {
        display: inline; // Remove list-style and block-level defaults
        > a,
        > span {
            position: relative;
            float: left; // Collapse white-space
            padding: $list-group-item-padding-y $list-group-item-padding-x;
            line-height: $line-height-base;
            text-decoration: none;
            color: $pagination-color;
            background-color: $pagination-bg;
            border: 1px solid $pagination-border-color;
            margin-left: -1px;
        }
        &:first-child {
            &,
            > a,
            > span {
                margin-left: 0;
                @include border-left-radius($border-radius);
            }
        }
        &:last-child {
            &,
            > a,
            > span {
                @include border-right-radius($border-radius);
            }
        }
    }

    > li > a,
    > li > span {
        &:hover,
        &:focus {
            z-index: 2;
            color: $pagination-hover-color;
            background-color: $pagination-hover-bg;
            border-color: $pagination-hover-border-color;
        }
    }
  
    // > .active > a,
    // > .active > span {
    > .current {
        &,
        &:hover,
        &:focus {
            z-index: 3;
            color: $pagination-active-color;
            background-color: $pagination-active-bg;
            cursor: $cursor-disabled;
    
            position: relative;
            float: left; // Collapse white-space
            padding: $list-group-item-padding-y $list-group-item-padding-x;
            line-height: $line-height-base;
            text-decoration: none;
            border: 1px solid $pagination-active-border-color;
            margin-left: -1px;
        }
    }
  
    // > .disabled {
    //   > span,
    //   > span:hover,
    //   > span:focus,
    //   > a,
    //   > a:hover,
    //   > a:focus {
    //     color: @pagination-disabled-color;
    //     background-color: @pagination-disabled-bg;
    //     border-color: @pagination-disabled-border;
    //     cursor: @cursor-disabled;
    //   }
    // }
}
  
  
// for Genealogy (Adam/Gigatrees)
// ------------------------------

@import "gigatrees";


// links within labels, panels
.label-default,
.label-primary {
    a {
        color: $body-color;
    }
}

.panel-primary {
    .panel-heading {
        a {
            color: $body-color;
        }
    }
}
