{% extends "base.html" %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
        <ol class="breadcrumb">
            <li><a href="{{ SITE_ROOT_URL }}" title="{{ SITENAME }}"><span class="fa fa-home fa-lg"></span></a></li>
            {% if MENUITEMS_2_AT %}
                <li>{{ MENUITEMS_2_AT }}</li>
            {% endif %}
        </ol>     
    {% endif %}
{% endblock %}

{% block content %}
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article class="row">
                <h2 class="col-xs-12"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                {%- if article.image %}
                    <div class="col-xs-4">
                        <img class="featured-image image-process-index-feature" src="{{ SITEURL }}/{{ article.image|urlencode }}" alt="{{ article.title|striptags }}">
                    </div>
                    <div class="summary col-xs-8">
                {% elif CATEGORY_IMAGES and article.category in CATEGORY_IMAGES %}
                    <div class="col-xs-4">
                        <img class="featured-image image-process-index-feature" src="{{ SITEURL }}/{{ CATEGORY_IMAGES[article.category]|urlencode }}"  alt="{{ article.category|striptags }}">
                    </div>
                    <div class="summary col-xs-8">
                {% else %}
                    <div class="summary col-xs-12">            
                {% endif -%}

                    {{- article.summary -}}
                    {% include 'includes/comment_count.html' %}
                </div>
                <div class="read-more-link text-right">
                    <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">read more <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </article>
            <hr/>
        {% endfor %}
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}
